.module-list .courses-home-module-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.module-list .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.module-list .list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.module-list ul {
    margin-bottom: 20px;
}

.module-list .icon-margin {
    margin-right: 14px;
}

.module-list .icon-margin-small {
    margin-right: 4px;
}

.module-list .small-margin-bottom {
    margin-bottom: 5px;
}

.module-list .list-group-item.list-group-item-secondary {
    background-color: transparent;
}
.list-group-item.list-group-item-secondary {
    border-bottom: none;
}

.module-list .list-group-item:not(.list-group-item-secondary) {
    border-top: none;
}

.module-list .list-group-item.list-group-item-secondary div {
    font-weight: bold; 
    font-size: 1.3em; 
}
