.sidebar .active {
    background-color: white;
    color: red;
}
.course-card {
    width: 260px;
    margin: 15px;
}
.course-list {
    margin-left: 30px;
}
@media (max-width: 1080px) {
    .course-list .course-card {
        flex: 0 0 calc(33.3333% - 30px);
    }
}
@media (max-width: 810px) {
    .course-list .course-card {
        flex: 0 0 calc(50% - 30px);
    }
}
#kanbas-navbar {
    width: 85px !important;
    min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
    max-width: 100% !important;
}

#kanbas-navbar ul li {
    max-width: 100% !important;
}

.kanbas-navbar-item-text {
    font-size: 0.9em !important;
}

.nav-link,
nav-link:visited {
    color: #ffffff;
    max-width: 100% !important;
}

.nav-link:hover {
    color: #E50000;
}

.nav-pills .nav-link span {
    color: #E50000;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #E50000;
}

#page-header h2 {
    font-weight: 200;
}

#page-subheader h4 {
    font-weight: 400;
}

#account-icon {
    color: grey;
}

.nav-pills .nav-link {
    width: 100vw;
    border-radius: 0;
    padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
    margin-block: 3px;
}

.page-content-wrapper {
    margin: 25px;
}

.override-btn {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(196, 195, 195);
    color: black;
}

.btn-primary.override-btn:active {
    background-color: grey;
    border: 1px solid grey;
    color: black;
}

#cards-container {
    max-width: 1100px;
    margin-right: 50px;
    column-gap: 20px;
}

.override-btn:hover {
    background-color: lightgrey;
    color: black;
    border: 1px solid lightgrey;
}

.course-solid-color {
    background-color: #2486b9;
    min-height: 125px;
}

.col {
    width: 250px;
    height: 250px;
    margin-block: 30px;
}

.card {
    width: 100%;
}

.card-img-top {
    position: relative;
}

.override-card-img-button {
    color: white;
}

.override-card-img-button:hover {
    color: white;
    text-shadow: 0 0 5px lightgrey;
}

.card-body a {
    text-decoration: none;
    color: #E50000;
}

.card-body a:hover {
    text-decoration: underline;
    text-decoration-color: #E50000;
}

.card-body .card-header-content-container {
    color: #E50000;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-body .card-title {
    color: #E50000;
    font-size: 0.9em;
}

.card-title-text {
    color: #2486b9;
}

.card-body .card-subtitle {
    font-weight: 300;
    font-size: 1em;
}

.card-body p {
    font-size: 0.7em;
    color: grey;
}

.course-card-icon i {
    color: grey;
}

.course-card-icon i:hover {
    color: #E50000;
}




























































































































































































