.wd-course-navigation {
    list-style: none;
    padding: 0px;
    width: 190px;
    margin: 0px;
    margin-left: 20px;
    background-color: white;
}


.wd-course-navigation a {
    padding-top: 5px !important;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px !important;
    font-size: 0.9em;
    text-align: center;
    padding-left: 10px;
    text-align: left;
    width: 130px;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 0px !important;
}

.wd-course-navigation a {
    color: red;
    text-decoration: none;
    border: none;
    outline: none;

}

.wd-course-navigation a.active {

    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-left: 2px solid black;
}

