.navigationMenu {
    margin-top: -10px;
}

.navigationMenu  .list-group {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.navigationMenu  .list-group-item {
    background-color: white !important;
    color: rgb(194, 34, 34)  !important;
    border-width: 0 !important; 
    border-color: transparent !important; 
    padding: 6px 2px !important;
    font-size: 0.85rem;
    font-weight: 300;
}

.navigationMenu .list-group-item.active {
    background-color: white !important;
    color: rgb(194, 34, 34)  !important;
    border-width: 0 !important;
    border-color: transparent !important; 
    padding: 6px 2px !important;
    font-size: 0.85rem;
    font-weight: 500;
}